.section {
  display: flex;
  justify-content: center;
}

.demo-table {
  width: 100%;
}

label {
  color: black;
}

.tabla {
  display: grid;
  align-content: center;
  align-items: center;
}

.spinner {}