<section class="section">
  <div class="spinner" *ngIf="showSpinner">
    <mat-spinner></mat-spinner>
  </div>

  <div class="tabla" *ngIf="!showSpinner">
    <mat-tab-group fitInkBarToContent>
      <mat-tab label="Categorias" (click)="list('Categorias')"
        >Categorias</mat-tab
      >
      <mat-tab label="Sub Categoria" (click)="list('Sub Categoria')"
        >Sub Categorias</mat-tab
      >
      <mat-tab label="Temas" (click)="list('Temas')">Temas</mat-tab>
    </mat-tab-group>
    <table
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8 demo-table"
    >
      <ng-container
        *ngFor="let column of columns"
        [matColumnDef]="column.columnDef"
      >
        <th mat-header-cell *matHeaderCellDef>{{ column.header }}</th>
        <td mat-cell *matCellDef="let row">{{ column.cell(row) }}</td>
      </ng-container>

      <ng-container matColumnDef="Acciones">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button (click)="openAddThemeDialog()">
            <mat-icon>add_circle</mat-icon>
          </button>
          <button mat-icon-button (click)="onEdit(row)">
            <mat-icon>mode_edit</mat-icon>
          </button>
          <button mat-icon-button (click)="onDelete(row)">
            <mat-icon>delete_sweep</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</section>
